@import url("/fonts/inter.css");

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  font-family: "Inter";
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/images/background.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

footer {
  margin-top: auto;
}

.container {
  margin-top: -10px;
  font-size: 16px;
  line-height: 1.6em;
}

.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
  color: #337ab7;
}

.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #337ab7;
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #337ab7;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #337ab7;
    color: white;
  }
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("https://www.mcenahle.org.cn/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

code {
  overflow-wrap: anywhere;
  background-color: transparent;
  font-size: 100%;
  color: #333333;
  font-family: "JetBrainsMono-Regular";
}

pre {
  padding: 0;
  border: 0;
  background: transparent;
}

pre code.hljs {
  padding: 16px;
  line-height: 1.6;
  border-radius: 4px;
}

.carousel {
  max-width: 400px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  place-items: center;
}

#footer-text {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.articles {
  text-indent: 2em;
}

.dev-ecosystem {
  text-indent: 2em;
  font-size: 16px;
  line-height: 1.6em;
}
